<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title - Boze and Beyond - Landing Zone</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

    <header class="header">

    </header>


    <main>

    </main>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><strong>Boze &amp; Beyond</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item-active"><a class="nav-link" href="D:/home/site/wwwroot/Views/Home/Index.cshtml">Home<span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="D:/home/site/wwwroot/Views/Agencies/index.html">Agencies</a></li>
                    <li class="nav-item"><a class="nav-link" href="D:/home/site/wwwroot/Views/Amusement/AmusementBoze.html">Amusement</a></li>
                    <li class="nav-item"><a class="nav-link" href="D:/home/site/wwwroot/Views/Entertainment/boze.html">Entertainment</a></li>
                    <li class="nav-item"><a class="nav-link" href="D:/home/site/wwwroot/Views/Shopping/store.html">Shopping</a></li>
                </ul>
            </div>
            
        </div>
        


    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - University of Washington &amp; Boze Elementary</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>
